@model Waiter.ViewModels.EditViewModel

@Html.DropDownListFor(m => m.DishId, new SelectList(Model.Dishes, "Id", "Name"),
    "Select a dish to edit", new { @class = "form-control", @change = "this.form.submit();", @id = "dishDropdown" })


@using (Ajax.BeginForm("Manage", "Table", null,
    new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.InsertBefore, UpdateTargetId = "editedData" }, new { id = "form" }))
{
    <div class="flex" id="input"></div>
    <div class="flex " id="price"></div>
    <input onclick="ClearRows()" type="submit" name="operation" value="Add" formaction="add"  />
    <input onclick="ClearRows()" type="submit" name="operation" value="Remove" formaction="remove" />
}


<script>
    var priceValue;
     $(function () {
         $("#dishDropdown").change(
            function () {
                var selectedDish = $(this).find(":selected").text();

                 $('#price').load('@Url.Action("Price","Dish")', { "selectedDish": selectedDish }, function () {

                     priceValue = $('#price').text();

                     if ($('#input').is(':empty')) {
                         $('#input').append('@Html.TextBox("amount", 1 , new { @class = "form-control",  })');
                     }

                     var selectedTable = $("<input>")
                         .attr("type", "hidden")
                         .attr("name", "selectedTable").val(@Model.TableId);

                     var dish = $("<input>")
                         .attr("type", "hidden")
                         .attr("name", "selectedDish").val(selectedDish);

                     var price = $("<input>")
                         .attr("type", "hidden")
                         .attr("name", "price").val(priceValue);

                     $('#form').prepend(selectedTable).prepend(dish).prepend(price);
                 });
             });
     });

    function ClearRows() {
        $('#5 tbody td').empty();
        console.log("works")
    }
</script>
