@model List<Waiter.Models.Order>

<table class="table">
    <tr>
        @foreach (var o in @Model)
        {
            <td>@o.Amount</td>
            <td>@o.DishName</td>
            <td>@o.Price zł</td>
        }
    </tr>
</table>